<html>
  <head>
    <title>FORM</title>
  </head>
  <body>
    <form action="/create" method="post">
      ID: <input type="text" name="id" /> <br />
      <br />
      Name: <input type="text" name="name" /> <br />
      <br />
      Email: <input type="text" name="email" /> <br />
      <br />
      Address: <input type="text" name="address" /> <br />
      <br />
      <input type="submit" value="Save" />
      <input type="submit" value="Cancel" />
    </form>
  </body>
</html>
