<html>
  <head>
    <title>Web Forms</title>
  </head>
  <body>
    <h1>Form -2</h1>
    <form method="post" action="getform2">
      <lable>First Name: </lable>
      <input type="text" name="fname" /> <br /><br />
      <lable>Last Name: </lable>
      <input type="text" name="lname" /> <br /><br />
      <lable>Email: </lable>
      <input type="text" name="email" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
