<html>
  <head>
    <title>PROFILE</title>
  </head>
  <body>
    <h2>Good Morning <%= info.fname %></h2>
    <h4>Details</h4>
    <p>Full Name: <%= info.fname%> <%= info.lname %></p>
    <p>Email: <%= info.email %></p>
  </body>
</html>
